@page
@model BookStash.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.DatePub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.DatePub)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Paperback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Paperback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN10)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN13)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN13)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Dimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Dimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BestSellersRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BestSellersRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.CustomerReviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.CustomerReviews)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.BookID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
